@import url(./home/main.css);
@import url(./home/header.css);
@import url(./home/cards.css);
@import url(./home/footer.css);
@import url(./home/boxes.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f7f7f7;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

@media(max-width:500px){
    .quem-somos{
        padding: 20px;
        width: 90%;
    }
    .missao{
        padding: 20px;
        width: 90%;
        
    }
    .segundo-texto{
        padding: 20px;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .segundo-texto div{
        width: 90%;
        margin-top: 200px;
    }
}